body {
    margin: 0;
}

:root {
    --coffee-color: #442d25;
    --coffee-color2: #a68371;
}

.block-hero img {
    width: 70vw;
    border-radius: 20px;
    border: var(--coffee-color) 2px solid;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.block-hero {
    display: flex;
    background-image: linear-gradient(90deg, var(--coffee-color), var(--coffee-color2) 15%, var(--coffee-color2) 85%, var(--coffee-color));
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.block-hero a {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.3em;
    width: 200px;
    height: 1.5em;
    border: var(--coffee-color) 2px solid;
    text-align: center;
    border-radius: 10px;
    background-image: linear-gradient(45deg, var(--coffee-color2), var(--coffee-color));
    color: aqua;
    text-decoration: none;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.4);
    transition: all;
    transition-duration: 2s;
    
}

.block-hero a:hover {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.3em;
    width: 200px;
    height: 1.5em;
    border: var(--coffee-color) 2px solid;
    text-align: center;
    border-radius: 10px;
    color: aqua;
    text-decoration: none;
    transform: scale(1.1);
    transition-timing-function:linear;
    transition-duration: 2s;
    background-image: linear-gradient(225deg, green, orange);

}

.block-hero h1 {
    color:rgb(70, 220, 59);
    font-size: 1.5em;
}

.block-hero h1:hover {
    color:rgb(70, 220, 59);
    font-size: 1.5em;
    animation-name: h1-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes h1-animation {
    from {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    to {
        transform: scale(1);
    }

}

@media (min-width: 768px) {

    body {
        margin: 0;
    }
    
    .block-hero img {
        width: 50vw;
        border-radius: 20px;
        border: var(--coffee-color) 2px solid;
        box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
    }
    
    .block-hero {
        display: flex;
        background-image: linear-gradient(90deg, var(--coffee-color), var(--coffee-color2) 25%, var(--coffee-color2) 75%, var(--coffee-color));
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
    }
    
    .block-hero a {
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 1.3em;
        width: 200px;
        height: 1.5em;
        border: var(--coffee-color) 2px solid;
        text-align: center;
        border-radius: 10px;
        background-image: linear-gradient(45deg, var(--coffee-color2), var(--coffee-color));
        color: aqua;
        text-decoration: none;
        box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.4);
        transition: all;
        transition-duration: 2s;
        
    }
    
    .block-hero a:hover {
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 1.3em;
        width: 200px;
        height: 1.5em;
        border: var(--coffee-color) 2px solid;
        text-align: center;
        border-radius: 10px;
        color: aqua;
        text-decoration: none;
        transform: scale(1.1);
        transition-timing-function:linear;
        transition-duration: 2s;
        background-image: linear-gradient(225deg, green, orange);
    
    }
    
    .block-hero h1 {
        color:rgb(70, 220, 59);
        font-size: 2em;
    }
    
    .block-hero h1:hover {
        color:rgb(70, 220, 59);
        font-size: 2em;
        animation-name: h1-animation;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
    
    @keyframes h1-animation {
        from {
            transform: scale(1);
        }
    
        50% {
            transform: scale(1.1);
        }
    
        to {
            transform: scale(1);
        }
}
}